@use "src/app/styles/variables" as vars
@use "src/app/styles/mixins" as mixins

@import '~include-media/dist/_include-media.scss'
$breakpoints: vars.$breakpoints

// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| MEDIA QUERIES
.button-selection-info
    border-radius: 12px
    position: absolute
    height: 56px
    width: 56px
    z-index: 2

    @include media("<=M01","landscape")
        @include mixins.border(red)
        transform: translate(303.5%, 24.5%) scale(0.75)

    @include media(">M01","<=M02","landscape")
        @include mixins.border(red)
        transform: translate(348.5%, 33.5%) scale(0.8)

    @include media(">M02","<=M03","landscape")
        @include mixins.border(red)
        transform: translate(406%, 46%) scale(0.9)

    @include media(">M03","<=M04","landscape")
        @include mixins.border(red)
        transform: translate(412%, 34%) scale(0.86)

    @include media(">M04","<=M05","landscape")
        @include mixins.border(red)
        transform: translate(458%, 38%) scale(0.86)

    @include media(">M05","<=M06","landscape")
        @include mixins.border(red)
        transform: translate(478%, 42%) scale(0.86)

    @include media(">M06","<=M07","landscape")
        @include mixins.border(red)
        transform: translate(480%, 47%) scale(0.9)

    @include media(">M07","<=M08","landscape")
        @include mixins.border(red)
        transform: translate(482%, 60%) scale(1.1)

    @include media(">M08","<=M09","landscape")
        @include mixins.border(red)
        transform: translate(512%, 48%) scale(1)

    @include media(">M09","<=M10","landscape")
        @include mixins.border(red)
        transform: translate(532%, 52%) scale(1)

    @include media(">M10","<=T01","landscape")
        @include mixins.border(red)
        transform: translate(548%, 167%) scale(1.1)

    @include media(">T01","<=T02","landscape")
        @include mixins.border(red)
        transform: translate(602%, 302%) scale(1.1)

    @include media(">T02","<=T03","landscape")
        @include mixins.border(red)
        transform: translate(770%, 258%) scale(1.4)

    @include media(">T03","<=T04","landscape")
        @include mixins.border(red)
        transform: translate(842%, 442%) scale(1.3)

    @include media(">T04","<=desktop","landscape")
        @include mixins.border(red)
        transform: translate(696%, 92%) scale(1.4)

    @include media(">=desktop","landscape")
        @include mixins.border(red)
        transform: translate(946%, 138%) scale(1.8)
