@use "src/app/styles/variables" as vars
@use "src/app/styles/mixins" as mixins

@import '~include-media/dist/_include-media.scss'
$breakpoints: vars.$breakpoints

// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| MEDIA QUERIES
.button-selection-info
    border-radius: 12px
    position: absolute

    @include media("<=M01","landscape")
        @include mixins.border(white)
        left: 33.5%
        top: 7.5%
        height: 40px
        width: 40px

    @include media(">M01","<=M02","landscape")
        @include mixins.border(white)
        left: 34%
        top: 7.75%
        height: 40px
        width: 40px

    @include media(">M02","<=M03","landscape")
        @include mixins.border(white)
        left: 34%
        top: 7.75%
        height: 48px
        width: 48px

    @include media(">M03","<=M04","landscape")
        @include mixins.border(white)
        left: 34%
        top: 6.75%
        height: 48px
        width: 48px

    @include media(">M04","<=M05","landscape")
        @include mixins.border(white)
        left: 34.5%
        top: 7.5%
        height: 48px
        width: 48px

    @include media(">M05","<=M06","landscape")
        @include mixins.border(white)
        left: 34.5%
        top: 7.25%
        height: 48px
        width: 48px

    @include media(">M06","<=M07","landscape")
        @include mixins.border(white)
        left: 34%
        top: 7.75%
        height: 48px
        width: 48px

    @include media(">M07","<=M08","landscape")
        @include mixins.border(white)
        left: 34.5%
        top: 7.75%
        height: 48px
        width: 48px

    @include media(">M08","<=M09","landscape")
        @include mixins.border(white)
        left: 34%
        top: 7.75%
        height: 56px
        width: 56px

    @include media(">M09","<=M10","landscape")
        @include mixins.border(white)
        left: 34.5%
        top: 7.2%
        height: 56px
        width: 56px

    @include media(">M10","<=T01","landscape")
        @include mixins.border(white)
        transform: translate(-18.5%, 29%) scale(0.65)

    @include media(">T01","<=T02","landscape")
        @include mixins.border(white)
        transform: translate(-8.5%, 100%) scale(0.65)

    @include media(">T02","<=T03","landscape")
        @include mixins.border(white)

        transform: translate(2%, 70%) scale(0.75)

    @include media(">T03","<=T04","landscape")
        @include mixins.border(white)

        transform: translate(15%, 160%) scale(0.75)

    @include media(">T04","<=desktop","landscape")
        @include mixins.border(white)
        transform: translate(40%, 37%) scale(0.75)

    @include media(">=desktop","landscape")
        @include mixins.border(white)
