@use "src/app/styles/variables" as vars
@use "src/app/styles/mixins" as mixins

@import '~include-media/dist/_include-media.scss'
$breakpoints: vars.$breakpoints

// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| MEDIA QUERIES

.button-cube
    position: absolute
    height: 0px
    width: 0px
    z-index: 2

    div[id^='vjs_video_']
        width: 0% !important
        height: 0% !important

    @include media("<=M01","landscape")
        @include mixins.border(red)
        video
            transform: translate(-19%, -20%) scale(0.35)

    @include media(">M01","<=M02","landscape")
        @include mixins.border(red)
        video
            transform: translate(-14.5%, -15%) scale(0.4)

    @include media(">M02","<=M03","landscape")
        @include mixins.border(red)
        video
            transform: translate(-10%, -10%) scale(0.45)

    @include media(">M03","<=M04","landscape")
        @include mixins.border(yellow)
        video
            transform: translate(-9%, -16%) scale(0.45)

    @include media(">M04","<=M05","landscape")
        @include mixins.border(red)
        video
            transform: translate(-5%, -13%) scale(0.5)

    @include media(">M05","<=M06","landscape")
        @include mixins.border(red)
        video
            transform: translate(-3%, -12%) scale(0.5)

    @include media(">M06","<=M07","landscape")
        @include mixins.border(yellow)
        video
            transform: translate(-3%, -11%) scale(0.53)

    @include media(">M07","<=M08","landscape")
        @include mixins.border(red)
        video
            transform: translate(-2.5%, -4%) scale(0.57)

    @include media(">M08","<=M09","landscape")
        @include mixins.border(red)
        video
            transform: translate(0%, -9%) scale(0.57)

    @include media(">M09","<=M10","landscape")
        @include mixins.border(red)
        video
            transform: translate(2%, -8%) scale(0.59)

    @include media(">M10","<=T01","landscape")
        @include mixins.border(red)
        video
            transform: translate(4%, 34%) scale(0.63)

    @include media(">T01","<=T02","landscape")
        @include mixins.border(blue)
        video
            transform: translate(24%, 87%) scale(0.64)

    @include media(">T02","<=T03","landscape")
        @include mixins.border(pink)
        video
            transform: translate(42%, 71%) scale(0.78)

    @include media(">T03","<=T04","landscape")
        @include mixins.border(pink)
        video
            transform: translate(69%, 141%) scale(0.80)

    @include media(">T04","<=desktop","landscape")
        @include mixins.border(pink)
        video
            transform: translate(16%, 9%) scale(0.80)

    @include media(">desktop","landscape")
        @include mixins.border(pink)
        video
            transform: translate(40%, 28%) scale(1.05)
