@use "src/app/styles/variables" as vars
@import '~include-media/dist/_include-media.scss'
$breakpoints: vars.$breakpoints

// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| MEDIA QUERIES
.button-mute
    @include media("<=M10", "landscape")

        // border: 1px red dashed
        height: 44px
        width: 44px
        position: absolute
        left: 17%
        top: 7.5%

        video
            height: 20vh
            width: 10vw
            transform: translate(-10%, -10%)

    @include media(">M08", "<=M10","landscape")

        border: 1px red dashed
        height: 44px
        width: 44px
        position: absolute
        left: 17%
        top: 7.5%

        video
            height: 20vh
            width: 10vw
            transform: translate(-10%, -7%)
    
    @include media(">M10","<=T02","landscape")


    // @include media(">T04","<desktop", "landscape")

    //     border: 1px red dashed
    //     height: 44px
    //     width: 44px
    //     position: absolute
    //     left: 17%
    //     top: 6%

    //     video
    //         height: 20vh
    //         width: 10vw
    //         transform: translate(-10%, -2%)
