
@use "src/app/styles/variables" as vars
@import '~include-media/dist/_include-media.scss'
$breakpoints: vars.$breakpoints

$scale-desktop: scaleX(0.99) scaleY(1)
$left: 46px
$distance-horizontal: 236px

// $bottom-left: 22vw
// @include media("<=mobile", "landscape")
//     border: 2px green solid
//     position: absolute
//     width: 67.5vw
//     height: 65vh
//     transform: translate(-50%, -50%)
//     left: 51%
//     top: 61%

// @include media(">=mobile","<=desktop")
//     border: 2px green solid
//     position: relative
//     width: 924px
//     height: 440px
//     transform: translate(37%, -122%)
.regions
    position: relative

    @include media(">desktop")

        @for $var from 0 through 4
            .button-#{$var}
                position: absolute
                left: $left
                margin-left: ($distance-horizontal*$var)
                top: 126px
                transform: translate(-50%, -50%) $scale-desktop

        @for $var from 5 through 9
            .button-#{$var}
                position: absolute
                left: -1134px
                margin-left: ($distance-horizontal*$var)
                top: 364px
                transform: translate(-50%, -50%) $scale-desktop
