@use "src/app/styles/variables" as vars
@import '~include-media/dist/_include-media.scss'

$breakpoints: vars.$breakpoints
$backgroundImage: url("~src/assets/hud_button_01.png")
$size: 128px
$spacing: 136px
// $spacing: 124px

@function randomNum($min, $max)
    $rand: random()
    $randomNum: $min + floor($rand * (($max - $min) + 1))

    @return $randomNum

.usages
    position: relative
    // @include media("<=mobile", "landscape")

    // @include media(">=mobile","<=desktop")

    @include media(">desktop")

        // border: 2px green solid

        .button-field
            z-index: -1
            position: absolute
            left: -20%
            top: 182px
            transform: translate(-50%, -50%)

            $counter: 49

            @for $i from 3 through 0
                @for $j from 12 through 0

                    .button-#{$counter}
                        z-index: 1
                        transform: translateY($i * $spacing) translateX($j * $spacing)
                        width: $size
                        height: $size
                        color: white
                        background: #1b746fcc
                        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
                        backdrop-filter: blur( 1.5px )
                        -webkit-backdrop-filter: blur( 10.5px )
                        border-radius: 10px
                        border: 2px solid #ece4e4c0
                        font-family: "Oswald Light"
                        font-size: 18px

                        &.neon-text
                            animation: flicker #{randomNum(4, 8)}s infinite alternate
                            color: #fff
                            // opacity: 0.8

                    $counter: $counter - 1
