<div class="container">
	<div class="col-mobile">
		<div class="title-mobile">
			<h2>mobile</h2>
		</div>
		<div class="img-mobile">
			<img src="assets/images/mobile.png" alt="" />
		</div>

		<div class="sizes-mobile">
			<div class="row-1">
				<h2>320 x 568</h2>
				<h2>360 x 640</h2>
				<h2>414 x 736</h2>
				<h2>360 x 740</h2>
				<h2>375 x 812</h2>
			</div>

			<div class="row-2">
				<h2>390 x 844</h2>
				<h2>412 x 847</h2>
				<h2>480 x 853</h2>
				<h2>414 x 896</h2>
				<h2>428 x 926</h2>
			</div>
		</div>
	</div>

	<div class="col-tablet">
		<div class="title-tablet">
			<h2>tablet</h2>
		</div>
		<div class="img-tablet">
			<img src="assets/images/tablet.png" alt="" />
		</div>
		<div class="sizes-tablet">
			<h2>600 x 960</h2>
			<h2>768 x 1024</h2>
			<h2>800 x 1280</h2>
			<h2>1024 x 1366</h2>
		</div>
	</div>

	<div class="col-desktop">
		<div class="title-desktop">
			<h2>desktop</h2>
		</div>
		<div class="img-desktop">
			<img src="assets/images/desktop.png" alt="" />
		</div>
		<div class="sizes-desktop">
			<h2>1600 x 800</h2>
		</div>
	</div>
</div>
