@use "src/app/styles/variables" as vars
@use "src/app/styles/mixins" as mixins

@import '~include-media/dist/_include-media.scss'
$breakpoints: vars.$breakpoints

.chart
    position: relative
    width: 900px
    height: 700px
    z-index: 2

::ng-deep .carriers-modal .nsm-content
    position: absolute
    background-color: #ecd6d600
    width: 0px
    height: 0px
    z-index: 2

    @include media("<=M01","landscape")
        transform: translate(-25%, 35%) scale(.5)

    @include media(">M01","<=M02","landscape")
        transform: translate(-75%, 70%) scale(.55)

    @include media(">M02","<=M03","landscape")
        transform: translate(-205%, 80%) scale(.65)

    @include media(">M03","<=M04","landscape")
        transform: translate(-205%, 80%) scale(.65)

    @include media(">M04","<=M05","landscape")
        transform: translate(-205%, 80%) scale(.65)

    @include media(">M05","<=M06","landscape")
        transform: translate(-205%, 80%) scale(.65)

    @include media(">M06","<=M07","landscape")
        transform: translate(-205%, 130%) scale(.65)

    @include media(">M07","<=M08","landscape")
        transform: translate(-205%, 180%) scale(.65)

    @include media(">M08","<=M09","landscape")
        transform: translate(-245%, 100%) scale(.7)

    @include media(">M09","<=M10","landscape")
        transform: translate(-305%, 100%) scale(.75)

    @include media(">M10","<=T01","landscape")
        transform: translate(-365%, 280%) scale(0.8)

    @include media(">T01","<=T02","landscape")
        transform: translate(-505%, 480%) scale(0.9)

    @include media(">T02","<=T03","landscape")
        transform: translate(-600%, 500%) scale(1)

    @include media(">T03","<=T04","landscape")
        transform: translate(-600%, 700%) scale(1)

    @include media(">T04","<=desktop","landscape")
        transform: translate(-600%, 200%) scale(1)

    @include media(">=desktop","landscape")
        transform: translate(-1100%, 300%) scale(1.35)
