`<ngx-smart-modal
	[customClass]="'selection-info'"
	#selectionInfoModal
	identifier="selectionInfoModal"
>
	<video #selectionInfo muted></video>

	<ng-container *ngIf="selectedFeatures !== undefined">
		<div *ngFor="let feature of selectedFeatures | keyvalue">
			<ng-container [ngSwitch]="feature.value">
				<div *ngSwitchCase="'PLEASE SELECT'">
					<div class="{{ feature.key }} not-selected">
						{{ feature.value }}
					</div>
				</div>

				<div *ngSwitchCase="'NOT SELECTABLE'">
					<div class="{{ feature.key }} unselectable">
						{{ feature.value }}
					</div>
				</div>

				<div *ngSwitchDefault>
					<div class="{{ feature.key }} selected">
						{{ feature.value }}
					</div>
				</div>
			</ng-container>
		</div>
	</ng-container>
</ngx-smart-modal>

<!-- <div *ngIf="feature === 'PLEASE SELECT'">
				<div class="{{ feature.key }} not-yet-selected">
					{{ feature.value }}
				</div>
			</div> -->

<!-- <div *ngIf="feature === 'NOT SELECTABLE'">
				<div class="{{ feature.key }} unselectable">
					{{ feature.value }}
				</div>
			</div> -->

<!-- <ng-template #feature [ngOutletContext]="feature">
	<div class="{{ feature.key }} selected">
		hi -->
<!-- {{ feature.value }} -->
<!-- </div>
</ng-template> -->

<!-- Red/blue overlay for the indicator light -->
<!-- <div
				#lightIndicators
				class="light-indicator-red-overlay {{ feature.key }}"
			></div>
			<!-- Hides the usage feature selection list item -->
<!-- <ng-container *ngIf="feature.key === 'usage'">
				<div #usageOverlay class="hide-usages-selection"></div>
			</ng-container> -->

<!-- <div *ngFor="let feature of selectedFeatures | keyvalue">
			<div class="{{ feature.key }} selected">
				{{ feature.value }}
			</div>
		</div>

		<div *ngFor="let feature of unselectableFeatures | keyvalue">
			<div class="{{ feature.key }} unselectable">
				{{ feature.value }}
			</div>
		</div>

		<div *ngFor="let feature of notSelectedFeatures | keyvalue">
			<div class="{{ feature.key }} not-selected">
				{{ feature.value }}
			</div>
		</div> -->
