`<ngx-smart-modal
	[customClass]="'selection-info'"
	#selectionInfoModal
	identifier="selectionInfoModal"
>
	<video #selectionInfo muted></video>

	<ng-container *ngIf="selectedFeatures !== undefined">
		<div *ngFor="let feature of selectedFeatures | keyvalue">
			<div class="selected {{ feature.key }}">
				{{ feature.value }}
			</div>
			<!-- Red/blue overlay for the indicator light -->
			<div
				#lightIndicators
				class="light-indicator-red-overlay {{ feature.key }}"
			></div>
			<!-- Hides the usage feature selection list item -->
			<ng-container *ngIf="feature.key === 'usage'">
				<div #usageOverlay class="hide-usages-selection"></div>
			</ng-container>
		</div>
	</ng-container>
</ngx-smart-modal>

<!-- customClass="nsm-centered" -->
