
@use "src/app/styles/variables" as vars
@import '~include-media/dist/_include-media.scss'
$breakpoints: vars.$breakpoints

.chart
    position: relative
    max-height: 100%
    max-width: 100%

    @include media(">desktop")
        overflow: hidden
        // border: 2px solid green
        // left: 60%
        // top: 30%
        // transform: translate(-50%, -50%)
        // left: -3%
        // bottom: 10%
