// .aggregates-treemap
//     position: relative

//     @include media(">desktop")
//         left: -1%
//         top: -1%
//         height: 484px
//         width: 1144px
//         overflow: hidden

// .aggregates-tree
//     position: relative

//     @include media(">desktop")
//         left: -5%
//         height: 484px
//         width: 1144px
//         overflow: hidden

@use "src/app/styles/variables" as vars
@use "src/app/styles/mixins" as mixins

@import '~include-media/dist/_include-media.scss'
$breakpoints: vars.$breakpoints

.aggregates-treemap

    position: relative
    z-index: 3
    overflow: hidden
    top: -10px

    @include media("<=M01","landscape")
        // @include mixins.border(transparent)
        height: 482px
        width: 452px
        transform: scaleX(0.92) scaleY(0.4) translate(-5%, -68.5%)

    @include media(">M01","<=M02","landscape")
        @include mixins.border(transparent)
        height: 482px
        width: 508px
        transform: scaleX(0.92) scaleY(0.44) translate(-5%, -54.5%)

    @include media(">M02","<=M03","landscape")
        @include mixins.border(transparent)
        height: 482px
        width: 588px
        transform: scaleX(0.92) scaleY(0.44) translate(-5%, -54.5%)

    @include media(">M03","<=M04","landscape")
        @include mixins.border(transparent)
        height: 482px
        width: 588px
        transform: scaleX(0.92) scaleY(0.44) translate(-5%, -57.5%)

    @include media(">M04","<=M05","landscape")
        @include mixins.border(transparent)
        height: 482px
        width: 648px
        transform: scaleX(0.92) scaleY(0.48) translate(-5%, -49.5%)

    @include media(">M05","<=M06","landscape")
        @include mixins.border(transparent)
        height: 482px
        width: 668px
        transform: scaleX(0.92) scaleY(0.5) translate(-4.5%, -44.5%)

    @include media(">M06","<=M07","landscape")
        @include mixins.border(transparent)
        height: 482px
        width: 668px
        transform: scaleX(0.92) scaleY(0.52) translate(-4%, -40.5%)

    @include media(">M07","<=M08","landscape")
        // @include mixins.border(transparent)
        height: 472px
        width: 500px
        transform: scaleX(1.25) scaleY(0.58) translate(9%, -29.5%)

    @include media(">M08","<=M09","landscape")
        @include mixins.border(transparent)
        height: 482px
        width: 700px
        transform: scaleX(0.94) scaleY(0.52) translate(-4%, -40.5%)

    @include media(">M09","<=M10","landscape")
        // @include mixins.border(transparent)
        height: 482px
        width: 700px
        transform: scaleX(0.96) scaleY(0.54) translate(-2.7%, -37%)

    @include media(">M10","<=T01","landscape")
        // @include mixins.border(transparent)
        height: 482px
        width: 900px
        transform: scaleX(0.9) scaleY(0.58) translate(-11.45%, -28.5%)

    @include media(">T01","<=T02","landscape")
        // @include mixins.border(transparent)
        height: 482px
        width: 900px
        transform: scaleX(0.9) scaleY(0.58) translate(-11.45%, -28.5%)

    @include media(">T02","<=T03","landscape")
        // @include mixins.border(transparent)
        height: 470px
        width: 1124px
        transform: scaleX(0.94) scaleY(0.75) translate(-11.45%, -12.5%)

    @include media(">T03","<=T04","landscape")
        // @include mixins.border(blue)
        height: 470px
        width: 1124px
        transform: scaleX(0.92) scaleY(0.74) translate(65%, 172.5%)

    @include media(">T04","<=desktop","landscape")
        @include mixins.border(transparent)
        height: 470px
        width: 1120px
        top: -10px
        transform: scale(0.78) translate(-14%, -12%)

    @include media(">desktop","landscape")
        @include mixins.border(transparent)
        height: 488px
        width: 1160px
        top: -10px
        transform: scale(1) translate(0%, 2%)

        // @include mixins.border(transparent)
        // video
        //     transform: translate(250%, 74%) scale(0.82)

    // position: relative
    // max-height: 100%
    // max-width: 100%

    // @include media(">desktop")
    //     overflow: hidden
        // border: 2px solid green
        // left: 60%
        // top: 30%
        // transform: translate(-50%, -50%)
        // left: -3%
        // bottom: 10%
