
$breakpoints: (mobile: 916px, desktop: 1600px)

// $backgroundImage: url("~src/assets/oriental-tiles-dark.png")
// $backgroundImage: url("~src/assets/bg_card.png")
// $backgroundImage: url("~src/assets/oriental-tiles.png")

$panels: ("primary", "secondary")
$balances: ("energy", "usage", "renewables")
