<div class="line"></div>
<div class="landing" id="install">
	<div class="main">
		<div class="logo">
			<video #logo muted (timeupdate)="timeUpdate()"></video>
		</div>

		<div class="button" [@fade]>
			<button-landing></button-landing>
		</div>

		<div class="text one" [@fade]>
			Hi, my name is Wolfgang Goritschnig (a.k.a. w0L-g0R) and this is my
			demo app called "Enspect", which I am currently working on. From a
			functional perspective, it's a tool that collects austrian energy
			sector related data from publicly available sources and provides a
			web-based environment that allows displaying interactive charts.
			<br />For me personally, it's an opportunity to try out and apply
			different ideas, technologies and workflows in the course of
			building fullstack apps - from design prototyping, through system
			architecture and API conceptializing to finding the right solutions
			for deployment and CI/CD. <br /><br />However, the whole application
			ended up being quite resource intensive (in terms of package size as
			well as computational) due to its heavy usage of video elements.
			Regarding this, I'd say it's best served chilled and on desktop with
			a proper network connection!
		</div>
		<br />
		<ngx-typed-js
			[typeSpeed]="typeSpeed"
			[strings]="noteDescription"
			[smartBackspace]="true"
			[showCursor]="false"
			[startDelay]="1000"
			[backDelay]="500"
			[backSpeed]="10"
		>
			<div class="typing"></div>
		</ngx-typed-js>

		<div class="text" [@fade]>
			For the best experience, and especially for mobile usage, I do
			recommend to rely on using the progressive web app option (you'll
			still need a network connection to fetch the backend data!). In
			order to so just press the "<span
				class="scroll-to-link"
				(click)="scrollTo('install')"
				>Install</span
			>" button on top of the page. <br /><br />
			Talking about mobile, so far, I customized the app using several
			media queries -
			<span class="scroll-to-link" (click)="scrollTo('screens')">
				check out the applicable screen sizes below</span
			>
			- but I am still struggling with finding a generic approach to fit
			it to all possible mobile screen sizes. Also some tweaking with the
			browswer window zoom on desktop may be necessary in order to have
			all the elements placed correctly.
		</div>
		<section>
			<div id="screens">
				<table-landing></table-landing>
			</div>
		</section>
	</div>
</div>
<div class="line"></div>
