@use "src/app/styles/variables" as vars
@import '~include-media/dist/_include-media.scss'
$breakpoints: vars.$breakpoints

.carriers-button
    position: relative
    // @include media("<=mobile", "landscape")
    //     border: 2px green solid
    //     position: absolute
    //     width: 67.5vw
    //     height: 65vh
    //     transform: translate(-50%, -50%)
    //     left: 51%
    //     top: 61%

    // @include media(">=mobile","<=desktop")
    //     border: 2px green solid
    //     position: relative
    //     width: 924px
    //     height: 440px
    //     transform: translate(37%, -122%)

    @include media(">desktop")
        // border: 2px green solid
        // position: absolute

        // left: 40%
        // top: 47%
        // transform: translate(-50%, -50%)

        .button-carriers
            z-index: 2
            position: absolute
            width: 304px
            height: 304px
            left: 64.5%
            top: 20%
            border-radius: 50%

        video
            z-index: 1
            position: absolute
            transform: scale(1.05) translate(-3%, 0%)
            max-width: 100%
            height: 100%
            overflow: auto
