<div class="main-frame">
	<video
		#mainFrame
		muted
		(timeupdate)="timeUpdate()"
		(loadedmetadata)="loadedMetaData()"
	></video>
	<button-cube></button-cube>
	<button-selection-info></button-selection-info>
	<button-config></button-config>
	<button-chart></button-chart>
	<logo></logo>
	<display></display>

	<selection-info-dialog></selection-info-dialog>
	<carriers-dialog></carriers-dialog>

	<ng-container>
		<div
			class="router-outlet-content"
			[@routeAnimations]="prepareRoute(outlet)"
		>
			<router-outlet #outlet="outlet"></router-outlet>
		</div>
	</ng-container>
</div>
