@use "src/app/styles/variables" as vars
@use "buttons/partials/_button-mute"
@use "buttons/partials/_button-chart"
@use "buttons/partials/_button-cube"
@use "buttons/partials/_button-config"
@use "buttons/partials/_button-selection-info"
@use "partials/_router-outlet"
@use "partials/_video"
@import '~include-media/dist/_include-media.scss'

$breakpoints: vars.$breakpoints

/** ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| MAIN FRAME **/

.main-frame-container
    border: 1px red dashed
    z-index: -1
    position: absolute
    height: 100vh
    width: 100vw
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    overflow: hidden

    @include media(">T04","<=desktop","landscape")
        border: 2px yellow solid
        height: 600px
        width: 1196px

    @include media(">=desktop","landscape")
        border: 2px red dashed
        height: 800px
        width: 1600px
