<div class="container">
	<section>
		<img
			class="back-to-homepage"
			src="assets/images/back_to_the_homepage.webp"
			alt="Back to the Homepage"
		/>
		<img
			class="delorean"
			src="assets/images/delorean.webp"
			alt="El Delorean, El Doc y Marti McFly"
		/>
		<div class="text">
			<h1>404</h1>
			<h2>PAGE NOT FOUND</h2>
			<h3>BACK TO HOME?</h3>
			<div class="links">
				<a href="#"><span class="yes">YES</span></a>
				<a href=""><span class="no">NO</span></a>
			</div>
		</div>
	</section>
</div>
