@use "src/app/styles/variables" as vars
@use "src/app/styles/mixins" as mixins

@import '~include-media/dist/_include-media.scss'

$breakpoints: vars.$breakpoints

.display
    position: absolute
    height: 0px
    width: 0px
    z-index: -3

    @include media("<=M01","landscape")
        @include mixins.border(red)
        video
            transform: translate(0%, -25%) scale(0.26)

    @include media(">M01","<=M02","landscape")
        @include mixins.border(red)
        video
            transform: translate(6%, -22%) scale(0.32)

    @include media(">M02","<=M03","landscape")
        @include mixins.border(red)
        video
            transform: translate(16%, -17%) scale(0.36)

    @include media(">M03","<=M04","landscape")
        @include mixins.border(red)
        video
            transform: translate(16%, -21%) scale(0.3)

    @include media(">M04","<=M05","landscape")
        @include mixins.border(red)
        video
            transform: translate(22%, -21%) scale(0.46)

    @include media(">M05","<=M06","landscape")
        @include mixins.border(red)
        video
            transform: translate(26%, -20%) scale(0.36)

    @include media(">M06","<=M07","landscape")
        @include mixins.border(red)
        video
            transform: translate(26%, -18%) scale(0.36)

    @include media(">M07","<=M08","landscape")
        @include mixins.border(red)
        video
            transform: translate(26%, -12%) scale(0.42)

    @include media(">M08","<=M09","landscape")
        @include mixins.border(red)
        video
            transform: translate(30%, -18%) scale(0.38)

    @include media(">M09","<=M10","landscape")
        @include mixins.border(red)
        video
            transform: translate(34%, -16%) scale(0.40)

    @include media(">M10","<=T01","landscape")
        @include mixins.border(red)
        video
            transform: translate(35%, 26%) scale(0.5)

    @include media(">T01","<=T02","landscape")
        @include mixins.border(red)
        video
            transform: translate(39.5%, 78%) scale(0.5)

    @include media(">T02","<=T03","landscape")
        @include mixins.border(blue)
        video
            transform: translate(63%, 59%) scale(0.6)

    @include media(">T03","<=T04","landscape")
        @include mixins.border(blue)
        video
            transform: translate(69%, 129%) scale(0.6)

    @include media(">T04","<=desktop","landscape")
        @include mixins.border(blue)
        video
            transform: translate(56.5%, -2%) scale(0.6)

    @include media(">=desktop","landscape")
        @include mixins.border(red)
        video
            transform: translate(90.25%, 14%) scale(0.84)
