@use "src/app/styles/variables" as vars
@import '~include-media/dist/_include-media.scss'

$breakpoints: vars.$breakpoints

@include media("<=mobile", "landscape")

    .display
        position: absolute
        left: 40vw
        top: 4vh

        video
            width: 33vw
            height: 20vh

@include media(">=mobile","<=desktop")

    .display
        position: absolute
        width: 500px
        transform: translate(-50%, -50%)
        left: 55%
        top: 20%

        video
            transform: scale(0.7)

@include media(">desktop")

    .display
        position: absolute
        width: 0px
        height: 0px
        transform: translate(-50%, -50%)
        left: 42%
        top: 4.7%
        border: 2px red solid

        video
            transform: scale(0.85) translate(-7.8%, -14%)
